.fc {
    margin-left: 100px;
   height: 555px;
   margin-top: 50px;
   justify-content: center;
   width: 1200px;
   
}


.fc .fc-daygrid-event{
    color: #000000;
    
}
.fc-daygrid-event-dot{
    border: 4px solid #000000;
}
.fc .fc-daygrid-day.fc-day-today{
    background-color:#F2F2F2;
}
.fc .fc-event-title-container{
    background-color: #E9D5FF;
}
.fc .fc-event-title .fc-sticky{
    color: #000000;
}
.fc .fc-toolbar-title{
    color: #091772;
    font-family: 'Open Sans';
}
.fc .fc-col-header-cell-cushion{
    color: #5F5F5F;
}
.fc .fc-event-title {
    color: #000000;
    
}
