.fc {
   height: 700px;
   margin-top: 50px;
   justify-content: center;
   
}
h1{
    color: #3688D8;
    justify-content: center;
    text-align: center;
}
.button1{
    position: relative;
    margin-left: 400px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(160, 160, 160);
    width: 250px;
        height: 50px;
        background-color: #3688D8;
        font-size: 20px;
        color: white;
        border: none;
     
    }
.button2 {
    box-shadow: 5px 5px 5px rgb(160, 160, 160);
    border-radius: 8px;
    margin-left: 50px;
    width: 250px;
    height: 50px;
    background-color: #3688D8;
    font-size: 19px;
    color: white;
    border: none;
}
.fc .fc-daygrid-event{
    color: #79BBF5;
}